
/* START VISIBILITY HELPER */

/*
body {
	background-color: LightGray;
}

div {
	border: 1px solid Chocolate;
}

/* END VISIBILITY HELPER*/

.navbar {
	height: 4em;
}

.logo {
	width: 1.5em;
}

.links > li {
	display: inline;
	padding: 0 1em;
	font-family: Arial, sans-serif;
}

a {
	text-decoration: none;
}